body {
    background-color: #233671;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    color: navy;
}

h1 {
    color: navy;
    text-align: center;
}

.container {
    width: 1000px;
    height: 600px;
    background-color: #f4f5ff;
    border-radius: 20px;
    padding: 15px;
}

.inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ipt1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.ipt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.ipts1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

input {
    width: 370px;
    height: 20px;
    border-radius: 15px;
    border: solid 2px navy;
    background-color: #adc4d9;
    padding: 7px;
}

button {
    width: 370px;
    height: 35px;
    border-radius: 15px;
    background-color: #233671;
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
}

.resultado{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
